.no-border {
    border: none;
}

.green-btn {
    color: #6ADFDE;
    border-color: #6ADFDE;
    background-color: transparent;
    border-radius: 20px;
    width: 8em;
}

.green-btn:hover {
    color: #fff;
    border-color: #6ADFDE;
    background-color: #6ADFDE;
}

.purple-btn {
    color: #7927C1;
    border-color: #7927C1;
    background-color: transparent;
    border-radius: 20px;
    width: 8em;
}

.purple-btn:hover {
    color: #EBEBED;
    border-color: #7927C1;
    background-color: #7927C1;
}

.rs-btn {
    background-color: #85FEDB;
    border-color: #85FEDB;
    border-radius: 20px;
}

.rs-btn:hover {
    color: #fff;
    border-color: #6ADFDE;
    background-color: #6ADFDE;
}

.input-box {
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
}

.input-box:hover {
    padding-bottom: 1em;
}

.alert-box {
    background-color: #85FEDB;
    color: #7927C1;
}