.bg-color {
    background-color: #85FEDB;
}

.item-color {
    color: #7927C1;
}

.item-color:hover {
    color: #73A0E0;
}

.nav-text {
    color: #6ADFDE;
}

.profileImg {
    border-radius: 50%;
}